appdirs==1.4.3
appnope==0.1.0
backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.4.1
bleach==2.0.0
certifi==2017.1.23
click==6.6
colorama==0.3.7
configparser==3.5.0
cycler==0.10.0
decorator==4.0.11
entrypoints==0.2.2
enum==0.4.6
enum34==1.1.6
Flask==0.11.1
functools32==3.2.3.post2
gspread==0.6.2
html5lib==0.999999999
httplib2==0.10.3
ipykernel==4.5.2
ipython==5.3.0
ipython-genutils==0.2.0
ipywidgets==6.0.0
itsdangerous==0.24
Jinja2==2.8
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.0.0
jupyter-console==5.1.0
jupyter-core==4.3.0
lxml==3.6.4
MarkupSafe==0.23
matplotlib==2.0.0
mistune==0.7.4
nbconvert==5.1.1
nbformat==4.3.0
nltk==3.2.1
notebook==4.4.1
numpy==1.11.1
oauth2client==4.0.0
packaging==16.8
pandas==0.18.1
pandocfilters==1.4.1
pathlib2==2.2.1
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.13
ptyprocess==0.5.1
pyasn1==0.2.3
pyasn1-modules==0.0.8
Pygments==2.2.0
pymongo==3.3.0
pyparsing==2.2.0
python-dateutil==2.5.3
python-docx==0.8.6
python-igraph==0.7.1.post6
pytz==2016.6.1
pyzmq==16.0.2
qtconsole==4.2.1
requests==2.5.3
rsa==3.4.2
scandir==1.5
scikit-learn==0.17.1
scipy==0.17.1
seaborn==0.7.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
sklearn==0.0
subprocess32==3.2.7
termcolor==1.1.0
terminado==0.6
testpath==0.3
textblob==0.11.1
tmdbsimple==1.4.0
tornado==4.4.2
traitlets==4.3.2
uritemplate==3.0.0
wcwidth==0.1.7
webencodings==0.5
Werkzeug==0.11.10
widgetsnbextension==2.0.0
